@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
  /* Prevent text size change on orientation change. */
  -webkit-text-size-adjust: 100%;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-card,
md-card .md-subheader {
    background-color: rgba(74, 74, 74, 1) !important;
}

md-card .md-subheader {
    text-align: center;
}
