<!doctype html>
<html ng-app="rrrEmil">
    <head>
        <meta charset="utf-8">
        <title>Virtual Emil for Russian Railroads</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <!-- run `gulp inject` to automatically populate bower styles dependencies -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <!-- css files will be automatically insert here -->
        <!-- endinject -->
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div layout="vertical" layout-fill ng-controller="MainController as emil">
            <md-content flex>
                <header>
                    <md-toolbar class="md-medium-tall" layout="row" layout-align="center center">
                        <div flex="25" layout="column" layout-align="center center">
                            <md-icon><i class="material-icons">content_copy</i></md-icon>
                            {{emil.nrCards()}}
                        </div>

                        <div flex="25" layout="column" layout-align="center center">
                            <md-icon><i class="material-icons">person</i></md-icon>
                            {{emil.getAvailableWorkers()}} / {{emil.getAllWorkers()}}
                        </div>

                        <div flex="25" layout="column" layout-align="center center">
                            <md-icon><i class="material-icons">star</i></md-icon>
                            {{emil.getPoints()}}
                        </div>

                        <div flex="25"></div>
                    </md-toolbar>

                    <md-fab-speed-dial md-open="emil.fabOpen" md-direction="down" class="md-scale md-fab-top-right">
                        <md-fab-trigger>
                            <md-button class="md-fab md-warn">
                                <md-icon><i class="material-icons">star</i></md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button class="md-fab md-raised md-mini" ng-click="emil.setWorkers(6)">
                                &lt; 50
                            </md-button>
                            </md-button>
                                <md-button class="md-fab md-raised md-mini" ng-click="emil.setWorkers(7)">
                                50+
                            </md-button>
                            </md-button>
                                <md-button class="md-fab md-raised md-mini" ng-click="emil.setWorkers(8)">
                                150+
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </header>

                <md-content>
                    <md-list layout-align="center center">
                        <md-list-item layout-align="center center" ng-if="emil.nrCards() === 0">
                            <md-button flex class="md-block md-raised md-raised md-warn"  ng-click="emil.newRound()">
                                <md-icon><i class="material-icons">refresh</i></md-icon>
                                Start new round
                            </md-button>
                        </md-list-item>

                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column" layout-align="center center">
                                <h3>Emil played the card</h3>
                                <h4>{{emil.getLast().action }}</h4>
                                <p>{{emil.getLast().cost }}</p>
                            </div>
                        </md-list-item>

                        <md-list-item layout-align="center center">
                            <md-button ng-click="emil.rejectCard()">
                                <md-icon><i class="material-icons">clear</i></md-icon>
                            </md-button>

                            <md-button ng-click="emil.drawCard()" ng-disabled="!emil.canDrawCards()">
                                <md-icon><i class="material-icons">navigate_next</i></md-icon>
                            </md-button>

                            <md-button ng-click="emil.redrawCard()">
                                <md-icon><i class="material-icons">refresh</i></md-icon>
                            </md-button>
                        </md-list-item>

                        <md-subheader ng-if="emil.getOccupiedCards().length > 0">Actions used by player</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="item in emil.getOccupiedCards() track by item.id">
                            <md-divider></md-divider>
                            <md-icon class="md-avatar-icon" ng-click="emil.removeCardFromPlayerStack(item)">
                                <i class="material-icons">clear</i>
                            </md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{ item.action }} </h3>
                                <p> {{ item.cost }}</p>
                            </div>
                        </md-list-item>

                        <md-subheader ng-if="emil.getPlayedCards().length > 0">Actions played by Emil</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="item in emil.getPlayedCards() track by item.id">
                            <md-divider></md-divider>
                            <md-icon class="md-avatar-icon"><i class="material-icons">navigate_next</i></md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3> {{ item.action }} </h3>
                                <p> {{ item.cost }} </p>
                            </div>
                        </md-list-item>
                    </md-list>
                <md-content>
            </md-content>
        </div>

        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <!-- run `gulp inject` to automatically populate bower script dependencies -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <!-- js files will be automatically insert here -->
        <!-- endinject -->

        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->

    </body>
</html>
